

.box {
    height: 200px;
    width: 200px;
    position: relative;
   
}

.box:first-child {
    background-color: red;
    position: absolute;
    left: 100px;
    top: 135px;
    border-radius: 50%;
}

.box:nth-child(2) {
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 8px;
}

.box:last-child {
    background-color: red;
    position: absolute;
    top: 135px;
    left: 11px;
}